<div class="nav">
  <div class="logo"><h1>LOGO</h1></div>
  <div class="nav-links">
    <a href="/" class="name">sakib hasan</a>
   <a href="/logOut">Log Out</a>
   <a href="allPosts">All posts</a>
  </div>
 </div>