<div class="nav">
  <div class="logo"><a>HOME</a>></div>
  <div class="nav-links">
    <a href="/" class="name">You</a>
    <a href="/logOut">Log Out</a>
    <a href="allPosts">All posts</a>
  </div>
</div>
