<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="register.css">
</head>
<body>
   
        <div class="buttons">
        <a href="/register" class="btn active">Sign up</a>
        <a href="log-in" class="btn">Sign in</a>
        </div>
   <div class="container">
   <div class="card">
       <h1 class="title">Create Account</h1>
       <h3 class="sub-title">Join the <span class="fun">Fun</span></h3>
   <div class="form">
      
       <form class="form">
       <label for="name">Name :</label>
       <input type="text" name="name">
       <p class="name-error"></p>
       <label for="email">Email :</label>
       <input type="email" name="email">
       <p class="email-error"></p>
       <label for="password">Password :</label>
       <input type="password" name="password">
       <p class="password-error"></p>
       <button>Submit</button>
       </form>
    </div>


   </div>

   </div>

  <!-- here goes the circls -->
 



<script src="register.js"></script>
</body>
</html>